<!--project/all_customers.html-->
<head>
    <title>Scuba Diving</title>
    <link rel="stylesheet" href="http://cs-people.bu.edu/mansari/css/shine/css/bootstrap.min.css"><!--this links to the CSS formatting specifically for the font-->
</head>
<center><!-- usage of a center tag to center all the text and images on the page-->

<div class='container'>
    <a href="{% url 'home_page' %}">| Home |</a><!-- use | to give a cleaner look on the page-->
    <a href="{% url 'new_customer' %}">New customer |</a>
</div><!-- allows the links to be side by side rather then stacked on top of each other-->


<body style="background-color:lavenderblush;"><!-- this formats the background of the page to have a lavender color-->
<ul>
    {% for customer in all_customers %}<!-- usage of a loop to display all the objects-->
    
    <br><td style="text-align:center"><a href="{% url 'customer' customer.pk %}">Link to customer</a></td><br>
    Customer: {{customer.first_name}} {{customer.last_name}} <br>


        <br>Address: {{customer.address}}  <br>
         Email: {{customer.email}}<br> 

        <br> Date of birth: {{customer.date_of_birth}} 
    
    
    
    
    
    <br>
    
    {% endfor %}
    </ul>
</body>
</center>
