<!--project/all_bookings.html-->
<head>
    <title>Scuba Diving</title>
    <link rel="stylesheet" href="http://cs-people.bu.edu/mansari/css/shine/css/bootstrap.min.css"><!--this links to the CSS formatting specifically for the font-->
</head>
<center><!-- usage of a center tag to center all the text and images on the page-->

<div class='container'>
        <a href="{% url 'home_page' %}">| Home |</a><!-- use | to give a cleaner look on the page-->
        <a href="{% url 'create_booking' %}">Create Booking |</a>
</div><!-- allows the links to be side by side rather then stacked on top of each other-->
    

<body style="background-color:lavenderblush;"><!-- this formats the background of the page to have a lavender color-->

    <ul>
    {% for booking in all_bookings %}<!-- usage of a loop to display all the objects-->
    
    <br><td style="text-align:center"><a href="{% url 'booking' booking.pk %}">Link to booking</a></td><br>

    Boat: {{booking.boat}} <br>
        <img src="{{booking.boat.image_url}}" style="border:1px solid black;" src="//www.html.am/images/image-codes/milford_sound_t.jpg" width="300" height="200" alt="Photo of Milford Sound in New Zealand"> <br>

        <br>Customer: {{booking.customer}}  <br>
         Guide: {{booking.guide}}<br> 
        <img src="{{booking.guide.image_url}}" style="border:1px solid black;" src="//www.html.am/images/image-codes/milford_sound_t.jpg" width="300" height="200" alt="Photo of Milford Sound in New Zealand"><br>

        <br> Date of booking: {{booking.date_of_booking}} 
        <br> Total Invoice: ${{booking.boat.price_per_person}}<br>
        
    
    
    
    
    
    <br>
    
    {% endfor %}
    </ul>
</body>
</center>