<!--project/all_guides.html-->
<head>
    <title>Scuba Diving</title>
    <link rel="stylesheet" href="http://cs-people.bu.edu/mansari/css/shine/css/bootstrap.min.css">
</head>
<center>
<h4><a href="{% url 'home_page' %}">Home</a></h4>
<h4><a href="{% url 'new_guide' %}">Add Guide</a></h4>  

<body style="background-color:lavenderblush;">
<table>
    {% for guide in all_guides %}
    


    <tr><td style="text-align:center"><a href="{% url 'guide' guide.pk %}"><h4>Guide: {{guide.first_name}} {{guide.last_name}}</h4> </a> </td></tr>

    <tr><td><img src="{{guide.image_url}}" style="border:1px solid black;" src="//www.html.am/images/image-codes/milford_sound_t.jpg" width="300" height="200" alt="Photo of Milford Sound in New Zealand" ></td></tr>



        <tr><td>Address: {{guide.address}} </td></tr>
         <tr><td>Email: {{guide.email}} </td></tr>

        <tr><td>Date of birth: {{guide.date_of_birth}} </td></tr>

        <tr><td>Years of Experience: {{guide.years_of_experience}}</td></tr>
    
    
    
    
    
    
    
    {% endfor %}
</table>
</body>
</center>