<!-- templates/project/create_customer_form.html-->

<h1>New Customer register below!</h1>
<head>
    <title>Scuba Diving</title>
    <link rel="stylesheet" href="http://cs-people.bu.edu/mansari/css/shine/css/bootstrap.min.css"><!--this links to the CSS formatting specifically for the font-->
</head>
<body style="background-color:lavenderblush;"><!-- this formats the background of the page to have a lavender color-->
<center><!-- usage of a center tag to center all the text and images on the page-->
<form method="POST"><!-- HTTP Post to send data to the server-->
    {% csrf_token %}
    

    <!-- {{form.as_p}} paragraph style formatting -->
    <table>

    
    {{form.as_table}}
    <tr>
        <td></td> <!-- empty on purpose for formatting-->
        <td><input type="submit" value="Create account"></td>
    </tr>
    

    </table>
</form>

</center>
</body>