<!--project/customer.html-->
<head>
    <title>Scuba Diving</title>
    <link rel="stylesheet" href="http://cs-people.bu.edu/mansari/css/shine/css/bootstrap.min.css"><!--this links to the CSS formatting specifically for the font-->
</head>

<body style="background-color:lavenderblush;"><!-- this formats the background of the page to have a lavender color-->

<center><!-- usage of a center tag to center all the text and images on the page-->

<div class='container'>
    <a href="{% url 'home_page' %}">| Home |</a><!-- use | to give a cleaner look on the page-->
    <a href="{% url 'delete_customer' customer.pk %}">Delete Customer Profile |</a>
        
</div> <!-- allows the links to be side by side rather then stacked on top of each other-->



    <h1>Customer: {{customer.first_name}} {{customer.last_name}}</h1>
    
    <table>
        <tr>
        <td>Address: {{customer.address}}</td>
    </tr>
        <tr><td>Email: {{customer.email}}
        </td>
        </tr>
        <tr><td>Date of Birth: {{customer.date_of_birth}}</td>
        </tr>

</table>

</body>
        
    
</center>

