<!--project/guide.html-->
<head>
    <title>Scuba Diving</title>
    <link rel="stylesheet" href="http://cs-people.bu.edu/mansari/css/shine/css/bootstrap.min.css"><!--this links to the CSS formatting specifically for the font-->
</head>
<body style="background-color:lavenderblush;"><!-- this formats the background of the page to have a lavender color-->

<center><!-- usage of a center tag to center all the text and images on the page-->

<div class='container'>
    <a href="{% url 'home_page' %}">| Home |</a><!-- use | to give a cleaner look on the page-->
    <a href="{% url 'all_guides' %}">All Guides |</a>
    <a href="{% url 'update_guide' guide.pk %}">Update this guide's profile |</a>
    <a href="{% url 'delete_guide' guide.pk %}">Delete Guide |</a>
</div> <!-- allows the links to be side by side rather then stacked on top of each other-->



    <h1>{{guide.first_name}} {{guide.last_name}}</h1>
    
    <table>
        <tr>
        <td>Years of experience: {{guide.years_of_experience}}</td>
    </tr>
        <tr><td>D.O.B: {{guide.date_of_birth}}</td>
        </tr>
        <tr><td>Email: {{guide.email}}</td>
        </tr>

        <tr> 
        <td>Address: {{guide.address}}</td>
    </tr>
</table>
    
        <img src="{{guide.image_url}}" style="border:1px solid black;" src="//www.html.am/images/image-codes/milford_sound_t.jpg" width="300" height="200" alt="Photo of Milford Sound in New Zealand">

</body>
</center>

    