<!--project/home.html-->
<head>
    <title>Scuba Diving</title>
    <link rel="stylesheet" href="http://cs-people.bu.edu/mansari/css/shine/css/bootstrap.min.css">
</head>
<center>
<h1 >Showing available boats and areas</h1>

<div class='container'>
    <a href="{% url 'all_bookings' %}">| All bookings |</a>
    <a href="{% url 'all_customers' %}">All customers |</a>
    <a href="{% url 'all_guides' %}">All guides |</a>
    <a href="{% url 'new_boat' %}">Add new boat and location |</a>
</div>

</tr>
<body style="background-color:lavenderblush;">

<!-- display the context data -->


<!-- create a loop to display the boats-->
<ul>
{% for boat in boats %}


<br>{{boat.make}} fits {{boat.capacity}} people excluding the crew - {{boat.location}}<br>
    <br><td style="text-align:center"><a href="{% url 'boat' boat.pk %}"><img src="{{boat.image_url}}" style="border:1px solid black;" src="//www.html.am/images/image-codes/milford_sound_t.jpg" width="300" height="200" alt="Photo of Milford Sound in New Zealand"></a><br>
    





   Description: {{boat.Location_description}}<br>

   <br><td style="text-align:center"><a href="{% url 'boat' boat.pk %}"><img src="{{boat.location_image_url}}" style="border:1px solid black;" src="//www.html.am/images/image-codes/milford_sound_t.jpg" width="300" height="200" alt="Photo of Milford Sound in New Zealand"></a><br>


<br>

{% endfor %}
</ul>
</center>
</body>

