<!-- mini_fb/base.html-->

<html>
    <h1>Mini Facebook</h1>
    <head>
        <title>Our Webpage</title>
    </head>
    <body>
    <!--navigation links-->
    <header>
        <a href="{% url 'show_all_profiles' %}">Show All Profiles</a>
    </header>
    <!--this content block will be filled in by another template which extends this base.html page.-->  
    
    <ul>
        <table style="width:100%">
        
        <tr>
            <th>Name</th><th>Hometown</th><th>Image</th>
        </tr>
    {% block content %}
   

    {% endblock %}
        </table>
    </ul>
    </body>
</html>>