<!-- mini_fb/show_profile_page.html-->
{% extends 'mini_fb/base.html' %}

{% block content %}
<h4><a href="{% url 'update_profile' single_profile.pk %}">Update this Profile</a></h4>
<h4><a href="{% url 'show_news_feed' single_profile.pk %}">Show {{single_profile.first_name}}'s news feed</a></h4>


    <ul style="list-style-type:none;">
        <li style="text-align:center"><h2>{{single_profile.first_name}} {{single_profile.last_name}}</h2></li>
        <li><img src="{{single_profile.image_url}}" style="max-width: 400;"></li>
        <li>{{single_profile.email_address}}</li>
        <li>{{single_profile.city}}</li>
    </ul><br>


    <h1>Status message</h1>
    <table>
    <tr>
        <h3><th>Time Stamp</th></h3>
        <h3><th>Messages</th></h3>
    </tr>

    {% for status_message in single_profile.get_status_messages %}
    
    <tr>
        <td style="text-align:center">{{status_message.timestamp}}</td>
        <td style="text-align:center">{{status_message.message}}</td>
        <td><a href="{% url 'delete_post_status_message' profile_pk=single_profile.pk status_pk=status_message.pk %}">Delete</a>
        </td>
        <td>{% if status_message.image %}
        <img src='{{status_message.image.url}}' style='max-width: 600;'>
        {% endif %}</td>
    </tr>
    
          
{% endfor %}



</table>




<h1>Create a new status message</h1>

<form method="POST" action="{% url 'post_status_message' single_profile.pk %}" enctype="multipart/form-data"><!-- HTTP Post to send data to the server-->
    {% csrf_token %}
    <!-- display the form context variable-->
    <!-- {{form}} -->

    <!-- {{form.as_p}} paragraph style formatting -->
    <table>
    {% for field in create_status_form %}
    <tr>
        <td>{{field.name}}</td>
        <td>{{field}}</td>
    </tr>

    {% endfor %}
    <tr>
        <td></td> <!-- empty on purpose for formatting-->
        <td><input type="submit" value="Share"></td>
    </tr>
        
    </form>
</table>



<h2>Friends</h2>
<table>
<tr>
    <h3><th>Image</th></h3>
    <h3><th>Name</th></h3>
    <h3><th>Profile</th></h3>
</tr>
{% if single_profile.get_friends %}
{{single_profile.get_friends}}
{% else %}
{{single_profile.first_name}} doesn't have any friends.
{% endif %}
</table>
{% endblock %}

    