<!-- minifb/show_all_profiles.html-->

<!-- <h1>Name    Hometown    Image</h1> -->

<!-- display the context data-->

<!-- {{mini_fbs}} -->


<!-- create a loop to display the quotes-->
<ul>
<table style="width:100%">

<tr>
    <th>Name</th><th>Hometown</th><th>Image</th>
</tr>

{% for mini_fb in mini_fbs %}


<tr>
    <td style="text-align:center">{{mini_fb.first_name}} {{mini_fb.last_name}}</td>
    <td style="text-align:center">{{mini_fb.city}}</td>
    <td><img src="{{mini_fb.image_url}}" style="max-width: 100;"></td>
</tr>


    


{% endfor %}

</table>
</ul>
